# top level groups

dn: {{ openldap_dn_suffix }}
objectClass: top
objectClass: domain
dc: {{ openldap_dc_suffix }}

dn: ou=groups,{{ openldap_dn_suffix }}
objectClass: top
objectClass: organizationalUnit
ou: groups

dn: ou=users,{{ openldap_dn_suffix }}
objectClass: top
objectClass: organizationalUnit
ou: users

# users

dn: uid=ldapadmin,ou=users,{{ openldap_dn_suffix }}
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
uid: ldapadmin
sn: User ldapadmin
cn: ldapadmin
description: User ldapadmin
displayName: User ldapadmin
mail: ldapuseradmin@{{ openldap_domain }}
# slappasswd -s password
userPassword: {{ openldap_user_password }}

{% for userid in range(openldap_number_of_users) %}

dn: uid=ldapuser{{ userid }},ou=users,{{ openldap_dn_suffix }}
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
uid: ldapuser{{ userid }}
sn: User {{ userid }}
cn: {{ userid }}
description: User {{ userid }}
displayName: User {{ userid }}
mail: ldapuser{{ userid }}@{{ openldap_domain }}
userPassword: {{ openldap_user_password }}

{% endfor %}

# groups

dn: cn=openstack,ou=groups,{{ openldap_dn_suffix }}
objectClass: top
objectClass: groupOfNames
cn: openstack
description: OpenStack enabled users
member: uid=ldapadmin,ou=users,{{ openldap_dn_suffix }}
member: uid=ldapuser0,ou=users,{{ openldap_dn_suffix }}
{% for userid in range(openldap_number_of_users) %}
member: uid=ldapuser{{ userid }},ou=users,{{ openldap_dn_suffix }}
{% endfor %}

{% for groupid in range(openldap_number_of_groups) %}

dn: cn=ldapgroup{{ groupid }},ou=groups,{{ openldap_dn_suffix }}
objectClass: top
objectClass: groupOfNames
cn: ldapgroup{{ groupid }}
description: Group {{ groupid }}
member: uid=ldapadmin,ou=users,{{ openldap_dn_suffix }}
member: uid=ldapuser0,ou=users,{{ openldap_dn_suffix }}
{% for _ in range(openldap_number_of_member_users) %}
member: uid=ldapuser{{ range(openldap_number_of_users)|random }},ou=users,{{ openldap_dn_suffix }}
{% endfor %}
{% endfor %}
